[submodule "public"]
	path = public
	url = https://github.com/ibrahimalanshor/lowsignal.github.io.git
	branch = master
[submodule "public/public"]
	path = public/public
	url = https://github.com/lowsignal/lowsignal.github.io.git
	branch = master
